.video {

  &__reference {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 63%;
    bottom: 10%;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0px 0px 33.6px 6.4px rgba(120, 149, 168, 0.25);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    @include desktop-fullhd {
      font-size: 100px;
      left: 64%;
    }
    &:hover {
      background-color: $pink;
    }
  }

  &__logo {
    @include inline-svg($video-logo);
  }

  &__text {
    position: absolute;
    left: 58%;
    bottom: 72%;
    color: $white;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -0.05em;
    transform: rotate(-90deg);
    @include desktop-fullhd {
      font-size: 100px;
      left: 56%;
      bottom: 67%;
    }
  }

}
